.gradient {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.gradient span {
  font-size: 50px;
  font-weight: 700;
  margin: 20px;
}
.swatch-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid lightgrey;
  background-color: gainsboro;
}

.color-button {
  width: 150px;
  height: 30px;
  border-radius: 100px;
  color: rgb(239, 239, 239);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 999px;
  transition: all 1s;
  box-shadow: 4px 4px 6px 0px rgb(0, 0, 0, 0.3);
  text-shadow: 1px 1px 1px black;
  transform: translateY(0px);
  margin: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-button span {
  position: relative;
  top: -1px;
}

.color-button:hover {
  color: white;
  border: 1px solid white;
  box-shadow: 2px 2px 4px 0px rgb(0, 0, 0, 0.3);
  transform: translateY(2px);
}