body {
  width: 100vw;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.post-image {
  display: none;
}

.post-img {
  width: 200px;
  height: 200px;
}