body {
  width: 100vw;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.link-box {
  margin: "20px; 0px";
  width: "100%";
  border-top: "1px solid black";
  border-bottom: "1px solid black";
}
