body {
  width: 100vw;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  /* background-color: rgb(244, 0, 0); */
  /* background: linear-gradient(to bottom,  darkviolet 0%, mediumspringgreen 100%); */
  
}
.blog-title {
  text-decoration: none;
  transition: all 0.3s;
  margin: 20px;
}
.blog-p {
  margin: 20px;
}
.post-image {
  margin: 20px 0px 0px 0px;
  /* border: 30px dashed yellow; */
}

.post-img {
  width: 200px;
  height: 200px;
}
.post-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: min-content;
}

.post-wrapper {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  margin: 0px 0px 40px 0px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
  z-index: 1;

}
.post-box__shadow {
  height: calc(100% - 40px);
  max-width: 670px;
  width: calc(100% - 35px);
  box-shadow: 0px 12px 14px 2px rgba(86, 68, 68, .7);
  position: absolute;
  top: 0px;
  pointer-events: none;
  border-radius: 10px;
}

.index-wrapper{
  font-family: "Raleway", "Farro", sans-serif;
  margin: 20px 0px 20px 0px;
}
/* /////////blogPostTemplate//////////// */
.text-wrapper p {
  border: 1px solid lightgrey;
  border-radius: 10px;
  font-family: "Raleway", "Farro", sans-serif;
  padding: 20px 20px 20px 20px;
  background-color: gainsboro;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-wrapper:nth-child(3) {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}