@media screen and (max-width: 500px){

  .blog-title {
    font-size: 26px;
  }
  .blog-p,
  .link p {
    font-size: 16px;
  }
  .link-box {
    font-size: 16px;
  }
  .top-link {
    font-size: 16px;
  }
      /* //////////////bloPostTemplate/////////////// */
      .text-wrapper p,
      .blog-date {
        font-size: 16px;
      }
      /* .link p{
      font-size: 35px;
    } */
      /* pre {
        font-size: 10px !important;
      } */
}