@media screen and (max-width: 400px){
  .portfolio{
    display: none;
  }
  .top-link {
    font-size: 14px;
    left: 50px !important;
  }
  .blog-title {
    font-size: 22px;
  }

  .link-box {
    font-size: 14px;
  }
  .blog-p,
  .link p {
    font-size: 14px;
  }
  /* //////////////bloPostTemplate/////////////// */
  .text-wrapper p,
  .blog-date {
    font-size: 14px;
  }

}