@media screen and (max-width: 4000px) {
  /* ////////Copied//////// */
  .post-wrapper {
    max-width: 2000px;
    width: 100%;
  }
  .post-box__shadow {
    max-width: calc(2000px - 90px);
    width: calc(100% - 90px);
  }
  .link-box {
    max-width: 2000px;
    height: 80px;
    font-size: 45px;
  }
  .text-wrapper {
    transform: translateX(-50%);
    margin-left: 50%;
  }
  .text-wrapper:nth-child(3) {
    width: 100%;
    max-width: 2000px;
  }
  .blog-title {
    font-size: 60px;
  }
  .blog-p,
  .link p {
    font-size: 45px;
  }
  .top-link {
    font-size: 45px;
    min-width: 670px;
  }

  .post-image {
    width: 800px;
    height: auto;
  }

  .app-styles {
    margin: 0px 20px 20px 20px;
  }

  .header-position {
    justify-content: flex-start;
    position: relative;
    left: 15%;
  }
  /* //////////////bloPostTemplate/////////////// */
  .text-wrapper p,
  .blog-date {
    font-size: 35px;
  }

  pre {
    font-size: 35px !important;
  }
  /* ///////////////About////////////// */

  .paragraph-box {
    width: 2000px;
  }
  .paragraphs p {
    font-size: 40px;
  }
}
