@media screen and (max-width: 600px){
  .blog-title {
    font-size: 28px;
  }
  .blog-p,
  .link p {
    font-size: 18px;
  }
  .link-box {
    font-size: 18px;
  }
  .top-link {
    font-size: 22px;
  }
}