@media screen and (max-width: 2500px){
  .post-wrapper {
    max-width: 2000px;
    width: 100%;
  }
  .post-box__shadow {
    max-width: calc(2000px - 90px);
    width: calc(100% - 90px);
  }
  .link-box {
    max-width: 2000px;
    height: 80px;
    font-size: 45px;
  }
  .blog-title {
    font-size: 60px;
  }
  .blog-p,
  .link p {
    font-size: 45px;
  }
  .top-link {
    font-size: 45px;
    min-width: 670px;
  }
  /* ////////Copied//////// */

  .post-image {
    width: 800px;
    height: auto;
    /* border: 30px dashed Orange; */
  }


  .app-styles {
    margin: 0px 20px 20px 20px;
  }

  .header-position {
    justify-content: flex-start;
    position: relative;
    left: 15%;
  }

    /* //////////////bloPostTemplate/////////////// */
    .text-wrapper p,
    .blog-date {
      font-size: 35px;
    }
    
    
    /* .link p{
      font-size: 50px;
      color: blue;
    } */
  
    pre {
      font-size: 28px !important;
    }

      /* ///////////////About////////////// */

.paragraph-box {
  width: 2000px;
}
.paragraphs p {
  font-size: 35px;
}
}