@media screen and (max-width: 1500px){
  .post-image {
    width: 400px;
    border: 30px dashed cyan;
  }
  .post-wrapper {
    max-width: 1000px;
    width: 100%;
    
  }
  .blog-title {
    font-size: 40px;
  }
  .blog-p {
    font-size: 25px;
  }

}