@media screen and (max-width: 4000px){
    /* ////////Copied//////// */
  .post-wrapper {
    max-width: 2000px;
    width: 100%;
    
  }
  .link-box {
    max-width: 2000px;
    height: 80px;
    font-size: 45px;
  }
  .blog-title {
    font-size: 60px;
  }
  .blog-p {
    font-size: 45px;
  }
  .top-link {
    font-size: 45px;
  }

  .post-image {
    width: 800px;
    height: auto;
  }


  .app-styles {
    margin: 0px 20px 20px 20px;
  }

  .header-position {
    justify-content: flex-start;
    position: relative;
    left: 15%;
  }
}