.link {
  text-decoration: none;
  transition: all .3s;
}
.link:hover {
  color: rgb(254, 120, 220);
}

.link-box {
  margin: 20px, 0px;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  background: rgb(255,250,122);
background: linear-gradient(90deg, rgba(255,250,122,1) 0%, rgba(121,251,255,1) 100%);
}

