.header-position {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header-top {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.link {
  text-decoration: none;
  transition: all .3s;
  color: rgb(81, 240, 249);
  text-shadow: 1px 1px 2px black;
}
.link:hover {
  color: rgb(254, 120, 220);
}
.link-box-c {
  position: relative;
  display: flex;
  justify-content: center;
}
.link-box {
  margin: 20px, 0px;
  max-width: 700px;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border: 2px solid rgb(81, 240, 249);
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  background-color: rgb(254, 213, 219);
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  
  /* background: linear-gradient(0deg, rgba(121,251,255,1) 25%, rgba(255,250,122,1) 50%, rgba(121,251,255,1) 75%); */
}

.link-box-shadow {
  height: 30px;
  max-width: 670px;
  width: calc(100% - 30px);
  box-shadow: 0px 8px 20px 0px rgba(86, 68, 68, 1);
  position: absolute;
  top: 0px;
  pointer-events: none;
  border-radius: 5px;
}

@media screen and (max-width: 740px) {
  .header-top {
    max-width: 100%;
    align-items: center;
    text-align:center;
  }
  .header-position {
    justify-content: flex-start;
  }
}

