.link {
  text-decoration: none;
  transition: all .3s;
}
.link:hover {
  color: rgb(254, 120, 220);
}

.link-box {
  margin: 20px, 0px;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}

